<ion-content [fullscreen]="true">
  <ion-grid color="secondary">
    <ion-row>
      <ion-col size="2" offset="5">
        <ion-label class="appName">Localize</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input 
            label="E-mail"
            labelPlacement="floating"
            type="text"
            class="inputEmail"
          >
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input
            label="Senha"
            labelPlacement="floating"
            type="password"
            class="inputSenha"
          >
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" class="buttonLogar">Block</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
