ion-content{
    --ion-background-color:#fff;
}
ion-input.inputSenha{
    background-color: #fff;
    color: #000;
}

ion-input.inputEmail{
    background-color: #fff;
    color: #000;
}
ion-label.appName{
    color:#000;
    text-align: center;
}
ion-button.buttonLogar{
    --background: #fc7c05;
    
}