<ion-content>
    <ion-row>
      <ion-col offset="4">
        <ion-label>Captura de localização</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" (click)="enviarSMS()">
          Enviar SMS
        </ion-button>
        <ion-button expand="block" (click)="obterLocalizacao()">
          Ativar Rastreamento
        </ion-button>
      </ion-col>
    </ion-row>  
    
    <ion-grid>
        <ion-row>
          <ion-col size="12">
            <!-- Cabeçalho da Tabela -->
            <ion-row>
              <ion-col size="8">Contatos</ion-col>
              <ion-col size="4" routerLink="/contacts">Editar</ion-col>
            </ion-row>
    
            <!-- Linhas da Tabela -->
            <ion-item *ngFor="let contact of contacts">
              <ion-label>{{contact.name}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
