<ion-header>
  <ion-toolbar>
    <ion-title>Captura de Localização</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" color="primary" (click)="obterLocalizacaoEIniciarRastreamento()">
          Ativar Rastreamento
        </ion-button>
        <ion-button expand="block" color="primary" (click)="desativarRastreamento()">
          Desativar Rastreamento
        </ion-button>
      </ion-col>
    </ion-row>  
    
    <ion-grid>
        <ion-row>
          <ion-col size="12">
            <!-- Cabeçalho da Tabela -->
            <ion-row>
              <ion-col size="8">Contatos</ion-col>
              <ion-col size="4" routerLink="/contacts">Editar</ion-col>
            </ion-row>
    
            <!-- Linhas da Tabela -->
            <ion-item *ngFor="let contact of contacts">
              <ion-label>{{contact.name}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
