<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro de Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input autocapitalize="on" [(ngModel)]="user.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Telefone</ion-label>
      <ion-input [(ngModel)]="user.phoneNumber" name="phone"></ion-input>
    </ion-item>
    <div class="ion-margin-vertical">
      <ion-button type="submit" color="secondary" expand="block">Salvar</ion-button>
      <ion-button type="submit" color="secondary" expand="block" (click)="goToHomePage()">Página Inicial</ion-button>
    </div>
  </form>
</ion-content>

<!--
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-button type="submit" color="secondary" expand="full" (click)="goToHomePage()">Página Inicial</ion-button>
</ion-fab>
//estava tentando colocar este botão no final da página
-->