<ion-content>
  <div class="image-container">
    <img src="https://d335luupugsy2.cloudfront.net/cms/files/47031/1702149355/$k0ha9jb0hah" alt="Logo">
  </div>
<ion-content>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input autocapitalize="on" [(ngModel)]="user.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Telefone</ion-label>
      <ion-input [(ngModel)]="user.phoneNumber" name="phone"></ion-input>
    </ion-item>
    <div class="ion-margin-vertical">
      <ion-button class="submit" type="submit" expand="block"><strong>Salvar</strong></ion-button>
      <ion-button class="home" type="submit" expand="block" (click)="goToHomePage()"><strong>Página Inicial</strong></ion-button>
    </div>
  </form>
</ion-content>