.image-container {
    text-align: center;
    margin-top: 225px;
    margin-bottom: 40px;
}
  
ion-content img {
    width: 280px;
    height: 120px;
    align-items: center;
}

.submit {
    --background: #fc7c05;
    --color: white;
}

.home {
    --background: #f99d98;
    --color: white;
}