ion-header {
    --ion-background-color: #fc7c05;
  }
  
.custom-back-button {
    --color: white;
}

.title {
    --color: white !important
}

.submit {
    --background: #fc7c05;
    --color: white;
}

.form {
    margin-top: 20px;
}