<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button class="custom-back-button"></ion-back-button>
      </ion-buttons>
     <ion-title class="title"><strong>Cadastro de Contato</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()" class="form">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input autocapitalize="on" [(ngModel)]="contact.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Telefone</ion-label>
      <ion-input [(ngModel)]="contact.phoneNumber" name="phone"></ion-input>
    </ion-item>
    <div class="ion-margin-vertical">
      <ion-button class="submit" type="submit" expand="block"><strong>Salvar</strong></ion-button>
    </div>
  </form>
</ion-content>
